body{
background-color: aliceblue
}

header {
    display: flex;
    justify-content: center;
}

.navLista {
    display: flex;
    list-style: none;
font-size: 40px;
    gap: 28px;
    text-transform: uppercase;
    .nav-item :hover{
        cursor: pointer; 
        background-color:black

    }

}

section{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

.secao ul{
    display: flex;
    gap: 3vw;
}