body{

    background-color: #4158D0;
    background-image: linear-gradient();
    background-image:https://static.wikia.nocookie.net/ben10/images/4/41/Humungousaur_omniverse_official.png/revision/latest?cb=20220727052611 ;
}