body{
background-color: aliceblue
}

header {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
font-size: 40px;
    gap: 28px;
    text-transform: uppercase;
    .nav-item :hover{
        cursor: ;color: black;
        background-color: aliceblue;
    }
}